node_modules/
.npm-cache/
.electron-cache/
.localappdata/
data/dev/*.log
data/dev/**/*.log
data/dev/library/config/**/*
!data/dev/library/config/**/.gitkeep
data/dev/library/exports/**/*
!data/dev/library/exports/**/.gitkeep
data/dev/library/imports/**/*
!data/dev/library/imports/**/.gitkeep
data/dev/library/pets/**/*
!data/dev/library/pets/**/.gitkeep
data/dev/library/sounds/**/*
!data/dev/library/sounds/**/.gitkeep
data/prod/**/*.log
data/prod/library/config/**/*
!data/prod/library/config/**/.gitkeep
data/prod/library/exports/**/*
!data/prod/library/exports/**/.gitkeep
data/prod/library/imports/**/*
!data/prod/library/imports/**/.gitkeep
data/prod/library/pets/**/*
!data/prod/library/pets/**/.gitkeep
data/prod/library/sounds/**/*
!data/prod/library/sounds/**/.gitkeep
app-out.txt
app-err.txt
app-code.txt
electron-out.txt
electron-err.txt
electron-code.txt
electron-node-test.txt
LocalLow/
